!!!
%html{:lang => "en"}
  %head
    /
      Basic Page Needs
      \==================================================
    %meta{:charset => "utf-8"}
      /[if IE] <meta http-equiv="x-ua-compatible" content="IE=9" />
      %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
        %title Ethanol Portfolio Template - Events Index
        %meta{:content => "Ethanol is an Agency and Personal Portfolio Template built with bootstrap 3.3.2. This is created for a cause to support my uncle's campaign. Go and Donate at - https://life.indiegogo.com/fundraisers/medical-support-for-a-filipino-overseas-worker--3/x/10058181", :name => "description"}
          %meta{:content => "portfolio, agency, bootstrap theme, mobile responsive, template, personal", :name => "keywords"}
            %meta{:content => "ThemeForces.Com", :name => "author"}
              /
                Favicons
                \==================================================
              %link{:href => "../img/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
                %link{:href => "../img/apple-touch-icon.png", :rel => "apple-touch-icon"}
                  %link{:href => "../img/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
                    %link{:href => "../img/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
                      / Bootstrap
                      %link{:href => "../css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}
                        %link{:href => "../fonts/font-awesome/css/font-awesome.css", :rel => "stylesheet", :type => "text/css"}
                          /
                            Nivo Lightbox
                            \==================================================
                          %link{:href => "../css/nivo-lightbox.css", :rel => "stylesheet"}
                            %link{:href => "../css/nivo_lightbox_themes/default/default.css", :rel => "stylesheet"}
                              /
                                Slider
                                \==================================================
                              %link{:href => "../css/owl.carousel.css", :media => "screen", :rel => "stylesheet"}
                                %link{:href => "../css/owl.theme.css", :media => "screen", :rel => "stylesheet"}
                                  /
                                    Stylesheet
                                    \==================================================
                                  %link{:href => "../css/style.css", :rel => "stylesheet", :type => "text/css"}
                                    %link{:href => "../css/responsive.css", :rel => "stylesheet", :type => "text/css"}
                                      /
                                        Google Fonts
                                        \==================================================
                                      %link{:href => "http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic", :rel => "stylesheet", :type => "text/css"}
                                        %script{:src => "../js/modernizr.custom.js", :type => "text/javascript"}
                                        / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
                                        / WARNING: Respond.js doesn't work if you view the page via file://
                                        /[if lt IE 9]
                                          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                                          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    /
      Page Header
      \==================================================
    
    /
      Contact Section
      \==================================================
    #tf-contact.contact
      .container
        / container
        .section-header

        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %p
        %h2
          <strong>Create New Event</strong
          <br>
          <br>
          <hr style="height:1px;border-width:0;color:gray;background-color:gray">

        = form_tag events_path do

          = label :event, :event_name, 'Event Name:'
          <br>
          = text_field :event, :event_name
          <br>
          = label :event, :description, 'Description:'
          <br>
          = text_field :event, :description
          <br>
          = label :event, :host, 'Host:'
          <br>
          = text_field :event, :host
          <br>
          = label :event, :start_date_time, 'Start Date Time:'
          <br>
          = datetime_select :event, :start_date_time
          <br>
          = label :event, :end_date_time, 'End Date Time:'
          <br>
          = datetime_select :event, :end_date_time
          <br>
          = label :event, :venue, 'Venue:'
          <br>
          = text_field :event, :venue
          <br>
          = label :event, :address, 'Address:'
          <br>
          = text_field :event, :address
          <br>
          = label :event, :max_capacity, 'Maximum Capacity:'
          <br>
          = text_field :event, :max_capacity
          <br><br>
          = submit_tag 'Save Changes'











    /
      Footer
      \==================================================
    #tf-footer
      .container
        / container
        %p.pull-left © 2015 ethanol. All rights reserved. Theme by Rudhi Sasmito.
        / copyright text here
        %ul.list-inline.social.pull-right
          %li
            %a{:href => "#"}
              %i.fa.fa-facebook
          / Change # With your FB Link
          %li
            %a{:href => "#"}
              %i.fa.fa-twitter
          / Change # With your Twitter Link
          %li
            %a{:href => "#"}
              %i.fa.fa-google-plus
          / Change # With your Google Plus Link
          %li
            %a{:href => "#"}
              %i.fa.fa-dribbble
          / Change # With your Dribbble Link
          %li
            %a{:href => "#"}
              %i.fa.fa-behance
          / Change # With your Behance Link
          %li
            %a{:href => "#"}
              %i.fa.fa-linkedin
          / Change # With your LinkedIn Link
          %li
            %a{:href => "#"}
              %i.fa.fa-youtube
          / Change # With your Youtube Link
          %li
            %a{:href => "#"}
              %i.fa.fa-pinterest
          / Change # With your Pinterest Link
      / end container
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src => "../js/jquery.1.11.1.js", :type => "text/javascript"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "../js/bootstrap.js", :type => "text/javascript"}
    %script{:src => "../js/owl.carousel.js", :type => "text/javascript"}
    / Owl Carousel Plugin
    %script{:src => "../js/SmoothScroll.js", :type => "text/javascript"}
    / Google Map
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&amp;sensor=false", :type => "text/javascript"}
    %script{:src => "../js/map.js", :type => "text/javascript"}
    / Parallax Effects
    %script{:src => "../js/skrollr.js", :type => "text/javascript"}
    %script{:src => "../js/imagesloaded.js", :type => "text/javascript"}
    / Portfolio Filter
    %script{:src => "../js/jquery.isotope.js", :type => "text/javascript"}
    / LightBox Nivo
    %script{:src => "../js/nivo-lightbox.min.js", :type => "text/javascript"}
    / Contact page
    %script{:src => "../js/jqBootstrapValidation.js", :type => "text/javascript"}
    

    -### For some reason the contact.js file interacts badly with the create new
    -### event form's submit button, and if this .js file is included, submit
    -### button will not work. So I commented out inclusion of contact.js -Greg
    -##%script{:src => "../js/contact.js", :type => "text/javascript"}
    -##############################################



    /
      Javascripts
      \==================================================
    %script{:src => "../js/main.js", :type => "text/javascript"}
























































