<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="~/Documents/forgingfriendships/bootstrap-3.3.2-dist/css/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="~/Documents/forgingfriendships/bootstrap-3.3.2-dist/js/bootstrap.js"></script>


  <title>Our Inspiration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>



<body>
  <div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-3">
        <h3>Forging Friendships</h3>
        <%= render 'shared/navigation' %>
      </div> 
      <div class="col-xs-9">
        <%= yield %>
      </div>
    </div>
  </div> 
</body>
</html>
